<h4>Feedback submitted from <%= @user_name %> (<%= @user_email %>)</h4>

<p><strong>Subject</strong></p>

<p>
  <%= @feedback.subject %>
</p>

<p><strong>Content</strong></p>

<p>
  <%= @feedback.content %>
</p>

<em>Note: replying to this email will send your response to the email address associated with the feedback's author</em>
